* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  box-sizing: border-box;
  overflow-y: scroll;
}
/* 导航栏 */
nav {
  opacity: 0;
  box-sizing: border-box;
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  height: 80px;
  background-color: rgba(255, 255, 255, 0.698);
  border-radius: 15px;
  z-index: 2;
}
nav:hover{
  opacity: 1;
  transition-duration: 0.8s;
}
.logo {
  font-size: 24px;
  font-weight: 600;
  color: rgba(83, 149, 235, 0.925);
  /* 让他俩平分导航条宽度 */
  flex: 1;
}
.logo:hover{
  cursor: pointer;
}
.nav-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
  max-width: 550px;
}

.nav-menu li {
  font-size: 20px;
  list-style: none;
  color: rgb(15, 20, 28);
  font-weight: 600;
}
.nav-menu li:hover{
  color:rgba(83, 149, 235, 0.925);
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: rgba(83,149,235);
  margin: 4px;
}

.burger {
  display: none;
}
/* 移动端样式 */
@media screen and (max-width:768px) {
  nav{
    /* 让移动端自动显示顶栏 */
    opacity: 1;
  }
  .nav-menu {
    position: fixed;
    top: 100px;
    right: 0;
    bottom: 0;
    width: 50vw;
    height: calc(100vh-100px);

    background-color: rgba(255, 255, 255, 0.3);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* 右侧进入效果 */
    transform: translateX(100%);
    transition: 0.4s ease-in-out;
    /* border:3px solid rgb(255, 0, 0); */
    
  }
  .nav-menu.open{
    transform: translateX(0);
  }
  .nav-menu li {
    /* 字体颜色 */
    color:white;
    margin: 3vh;
    transform:translateX(20px);
    opacity: 0;
  }

  .burger {
    display: block;
  }

  .burger.active div {
    transition: 0.3s ease-in-out 0.3s;
  }

  .burger.active .top-line{
    transform: rotate(45deg) translate(4px,6px);
  }
  .burger.active .bottom-line{
    transform: rotate(-45deg) translate(4px,-6px);
  }
  .burger.active .middle-line{
    opacity: 0;
    transform: translateX(10px);
    transition: 0.3s ease-in-out;
  }
  @keyframes slideIn {
    from{
      transform: translateX(20px);
      opacity: 0;
    }
    to{
      transform: translateX(0);
      opacity: 1;
    }
  }
}

@font-face {
  font-family: 汉仪昌黎宋刻本;
  src: url(../fonts/HYCHANGLISONGKEBEN\(TRUING\)W.TTF);
}

/* 隐藏滚动条 */
::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}
html{
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

/* 页脚 */
#end-page{
  margin-bottom: 50px;
}