* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  box-sizing: border-box;
}

nav {
  opacity: 0;
  box-sizing: border-box;
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  height: 80px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  z-index: 2;
}
nav:hover{
  opacity: 1;
  transition-duration: 0.8s;
}
.logo {
  font-size: 24px;
  font-weight: 600;
  color: rgba(83, 149, 235, 0.925);
  /* 让他俩平分导航条宽度 */
  flex: 1;
}

.nav-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
  max-width: 550px;
}

.nav-menu li {
  font-size: 20px;
  list-style: none;
  color: rgb(15, 20, 28);
  font-weight: 600;
}
.nav-menu li:hover{
  color:rgba(83, 149, 235, 0.925);
  cursor: pointer;
}
.burger div {
  width: 25px;
  height: 3px;
  background-color: rgba(83,149,235);
  margin: 4px;
}

.burger {
  display: none;
}
/* 移动端样式 */
@media screen and (max-width:768px) {
  nav{
    /* 让移动端自动显示顶栏 */
    opacity: 1;
  }
  .nav-menu {
    position: fixed;
    top: 100px;
    right: 0;
    bottom: 0;
    width: 50vw;
    height: calc(100vh-100px);

    background-color: rgba(255, 255, 255, 0.3);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* 右侧进入效果 */
    transform: translateX(100%);
    transition: 0.4s ease-in-out;
    /* border:3px solid rgb(255, 0, 0); */
    
  }
  .nav-menu.open{
    transform: translateX(0);
  }
  .nav-menu li {
    /* 字体颜色 */
    color:white;
    margin: 3vh;
    transform:translateX(20px);
    opacity: 0;
  }

  .burger {
    display: block;
  }

  .burger.active div {
    transition: 0.3s ease-in-out 0.3s;
  }

  .burger.active .top-line{
    transform: rotate(45deg) translate(4px,6px);
  }
  .burger.active .bottom-line{
    transform: rotate(-45deg) translate(4px,-6px);
  }
  .burger.active .middle-line{
    opacity: 0;
    transform: translateX(10px);
    transition: 0.3s ease-in-out;
  }
  @keyframes slideIn {
    from{
      transform: translateX(20px);
      opacity: 0;
    }
    to{
      transform: translateX(0);
      opacity: 1;
    }
  }
}

/* 流星雨背景 */
.background_star {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}


.night {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(45deg);
}

.shooting-star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  filter: drop-shadow(0 0 6px #699bff);
  border-radius: 1000px;
  animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}

.shooting-star::before {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  animation: shining 3000ms ease-in-out infinite;
}

.shooting-star::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(-45deg);
  animation: shining 3000ms ease-in-out infinite;
}

@keyframes shooting {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(300px);
  }
}

@keyframes tail {
  0% {
    width: 0;
  }

  30% {
    width: 100px;
  }

  100% {
    width: 0;
  }
}

@keyframes shining {
  0% {
    width: 0;
  }

  50% {
    width: 30px;
  }

  100% {
    width: 0;
  }
}

.shooting-star:nth-child(1) {
  top: calc(50% - 10px);
  left: calc(50% - 230px);
  animation-delay: 4321ms;
}

.shooting-star:nth-child(1)::before,
.shooting-star:nth-child(1)::after {
  animation-delay: 4321ms;
}

.shooting-star:nth-child(2) {
  top: calc(50% - 60px);
  left: calc(50% - 170px);
  animation-delay: 700ms;
}

.shooting-star:nth-child(2)::before,
.shooting-star:nth-child(2)::after {
  animation-delay: 700ms;
}

.shooting-star:nth-child(3) {
  top: calc(50% + 60px);
  left: calc(50% + 170px);
  animation-delay: 100ms;
}

.shooting-star:nth-child(3)::before,
.shooting-star:nth-child(3)::after {
  animation-delay: 100ms;
}

.shooting-star:nth-child(4) {
  top: calc(50% + 160px);
  left: calc(50% + 370px);
  animation-delay: 6000ms;
}

.shooting-star:nth-child(4)::before,
.shooting-star:nth-child(4)::after {
  animation-delay: 6000ms;
}

.shooting-star:nth-child(5) {
  top: calc(50% + 550px);
  left: calc(50% + 130px);
  animation-delay: 1356ms;
}

.shooting-star:nth-child(5)::before,
.shooting-star:nth-child(5)::after {
  animation-delay: 1356ms;
}

.shooting-star:nth-child(6) {
  top: calc(50% - 220px);
  left: calc(50% - 70px);
  animation-delay: 2340ms;
}

.shooting-star:nth-child(6)::before,
.shooting-star:nth-child(6)::after {
  animation-delay: 2340ms;
}
.page{
  margin-top: 80vh;
}
/* 页脚 */
.footer{
  color: aliceblue;
  /* position: absolute; */
  bottom: 0;
  /* border: 3px solid white; */
  height: 200px;
  width: 100vw;
  background-color: black;
}