.dot-context {
    padding: 15px;
}
#dot-name {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: aliceblue;
}
#dot-colorID {
    font-size: 20px;
    margin-bottom: 10px;
    color: aliceblue;
}
#dot-owner {
    font-size: 20px;
    margin-bottom: 10px;
    color: aliceblue;
}

#dot_1 {
    background-color: aqua;
}
