.dot-context {
    padding: 15px;
}
#dot-name {
    font-size: 25px;
    /* margin-top: 10px; */
    margin-bottom: 15px;
    color: aliceblue;
}
#dot-colorID {
    font-size: 20px;
    margin-bottom: 10px;
    color: aliceblue;
}
#dot-owner {
    font-size: 20px;
    margin-bottom: 10px;
    color: aliceblue;
}
/* 小像素点们 */
#dot_1 {
    background-color: #5395EB;
}
#dot_2 {
    background-color: rgb(82, 22, 131);
}
#dot_3 {
    background-color: #335BA6;
}
#dot_4 {
    background-color: #FF0000;
}
#dot_5 {
    background-color: #0000FF;
}