#main-page {
    margin-top: 15vh;
    margin-left: 13vw;
    margin-right: 13vw;
    background-color: rgba(169, 169, 169, 0.462);
    height: 80vh;
    padding-top: 20px;
    padding-left:80px;
    border-radius: 20px;
}

#main-page p{
    font-size: 16px;
    color:rgb(0, 0, 0);
}

nav {
    background-color: rgb(255, 255, 255);
}

h1 {
    font-size: 40px;
}
.hr1 {
    width: 100px;
    border: 3px solid rgb(4, 111, 2);
    margin-top: 8px;
}

p{
    margin-top: 10px;
}
.svg-box{
    margin-top: 10px;
}
svg{
    width: 80px;
    height: 80px;
    border: 3px solid rgb(135, 135, 135);
    border-radius: 15px;
    padding: 8px;
    background-color: rgb(255, 255, 255);
}
svg:hover{
    transform: rotate(360deg);
    transition-duration: 0.5s;
}
form{
    margin-top: 10px;
    line-height: 30px;
}

#sub_button {
    height: 50px;
    width:200px;
    font-size: 18px;
    border-radius: 8px;
    color: white;
    background-color: orange;
    border: 2px solid orange;
    display: inline-block;
    padding: 3px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin-top: 20px;
}
#sub_button:hover {
    background-color: white; /* Green */
    color: orange;
}