nav{
    background-color: rgb(0,0,0,0) !important;
}
.nav-menu li{
    color:aliceblue;
}
/* 封面页 */
.first-page{
    position: relative;
    z-index: 3;
    height: 40vh;
    width: 70vw;
    margin-top: 60vh;
    margin-left: 15vw;
}
/* 大标题下划线 */
.title-line{
    --hr-width:30vw;
    margin-top: 20px;
    height: 3px;
    background-color: white;
    border: 0;
    animation: right-move 2s ease 1 0s;
    width: var(--hr-width);
}
.first-page p{
    font-family: '汉仪昌黎宋刻本';
    color: aliceblue;
    font-size: 5vh;
    width: max-content;
    animation: down-appear 0.8s ease 1 0s;
}
.first-page p:hover{
    cursor: pointer;
}
.next-page{
    width: 70vw;
    margin-left: 15vw;
}
/* 每个区域标题 */
.title-middle {
    color: aliceblue;
    font-size: 40px;
}
.title-middle:hover{
    cursor: pointer;
}
/* 小标题下划线 */
.little-line{
    width: 180px;
    background-color: rgba(255,255,255,0.3);
    height: 3px;
    border: 0;
    margin-top: 20px;
}
/* 区域标题后显示# */
.title-middle::after{
    content: " #";
    opacity: 0;
    font-size: 30px;
}
.title-middle:hover::after{
    opacity: 1;
    color: rgb(110, 164, 252);
    transition-duration: 0.5s;
}
/* 正文 */
.main-text{
    font-family: 微软雅黑,Helvetica;
    color: aliceblue;
    margin-top: 30px;
    line-height: 38px;
    font-size: 22px;
    letter-spacing: 3px;
}
/* 头像 */
#portrait{
    margin-top: 0px;
    width: 10vw;
    border-radius: 50%;
}
#portrait:hover{
    transform: rotate(360deg);
    transition-duration: 0.6s;
}
#portrait_box{
    margin-top: -300px;
    margin-left: 58vw;
    margin-bottom: 150px;
}
/* 能力盒子 */
.ability-box{
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
}
.small-ability{
    position: relative;
    display: flex;
    width: 40%;
    margin-left: 50px;
    align-items:center;
    justify-content:space-between;
}
.small-ability p{
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
}
.small-ability hr{
    background-color: rgba(255,255,255,0.3);
    height: 3px;
    border: 0;
    width: 20vw;
    position: relative;
}
/* 进度条动效+底部解释说明 */
#ability-1::before{
    --hr-width:30%;
    position: absolute;
    content: "";
    height: 3px;
    border: 0;
    width: var(--hr-width);
    background-color: rgba(255,255,255,1);
    animation: right-move 6s ease 1 0s;
}
#small-ability-1:hover::after{
    content: "写前端的能力";
    color: rgba(255,255,255,0.6);
    position: absolute;
    font-size: 10px;
    margin-top: 25px;
    margin-left: 12vw;
}
#ability-2::before{
    --hr-width:100%;
    position: absolute;
    content: "";
    height: 3px;
    border: 0;
    width: var(--hr-width);
    background-color: rgba(255,255,255,1);
    animation: right-move 6s ease 1 0s;
}
#small-ability-2:hover::after{
    content: "打游戏水平";
    color: rgba(255,255,255,0.6);
    position: absolute;
    font-size: 10px;
    margin-top: 25px;
    margin-left: 12vw;
}
#ability-3::before{
    --hr-width:80%;
    position: absolute;
    content: "";
    height: 3px;
    border: 0;
    width: var(--hr-width);
    background-color: rgba(255,255,255,1);
    animation: right-move 6s ease 1 0s;
}
#small-ability-3:hover::after{
    content: "解决bug能力";
    color: rgba(255,255,255,0.6);
    position: absolute;
    font-size: 10px;
    margin-top: 25px;
    margin-left: 12vw;
}
#ability-4::before{
    --hr-width:40%;
    position: absolute;
    content: "";
    height: 3px;
    border: 0;
    width: var(--hr-width);
    background-color: rgba(255,255,255,1);
    animation: right-move 6s ease 1 0s;
}
#small-ability-4:hover::after{
    content: "掌握的编程语言能力";
    color: rgba(255,255,255,0.6);
    position: absolute;
    font-size: 10px;
    margin-top: 25px;
    margin-left: 12vw;
}
/* 卡片 */
.web-recommended{
    margin-top: 150px;
}
.recommended-boxes{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-items: space-around;
}

.small-box{
    margin: 5px;
    width: 350px;
    height: 120px;
    border-radius: 15px;
    background-color: rgb(0, 0, 0,0);
    position: relative;
    transition-duration: 0.5s;
    background-color: rgba(255,255,255,0);
}

.small-box:hover{
    background-color: rgba(255,255,255,0.1);
}
.small-box:hover .small-img{
    transform: rotate(360deg);
    transition-duration: 0.5s;
}
.small-img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 10px;
    border: 3px solid rgba(255, 255, 255, 0.7);
}
.small-right-box{
    margin-left: 120px;
    margin-top: -90px;
}
.small-title{ 
    color:rgba(238,238,238,1);
    font-size: 20px;
    text-decoration: none;
}
.small-text{

    /* margin-left: 120px;
    margin-top:-50px; */
    color:rgba(255, 255, 255, 0.6);
}
/* .glass-box{
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.5);
    background-color: rgba(255, 255, 255, 0.1);
    height: 120px;
    width: 330px;
}
.small-img{
    width: 90px;
    height: 90px;
    padding: 15px;
}
.small-box{
    margin-left: 120px;
    margin-top: -120px;
    padding: 20px;
}
.small-title{
    color:rgba(238,238,238,1);
    font-size: 24px;
    text-decoration: none;
} */
/* 页尾 */
.footer{
    padding-top: 200px;
    padding-bottom: 80px;
    margin-top: 30px;
    margin-bottom: 0;
    /* border: 3px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height:100px; */
}
#footer-title{
    /* margin-top: 80px; */
    color: aliceblue;
    font-size: 24px;
    color: #dadbdd;
    letter-spacing: 5px;
}
#footer-sign{
    font-size: 16px;
    color:rgba(255,255,255,0.3);
    letter-spacing: 6px;
    margin-top: 6px;
}
@keyframes right-move{
    from{
        width: 0;
    }
    to{
        width: var(--hr-width);
    }
}
@keyframes down-appear {
    from{
        opacity: 0;
        margin-top: -60px;
    }
    to{
        opacity: 1;
        margin-top: 0;
    }
}
@media screen and (max-width:768px){
    #portrait_box{
        display:none;
    }
    .ability-box{
        display: none;
    }
    .first-page p{
        margin-left: -30px;
    }
    .title-line{
        margin-left: -30px;
    }
}