.line-btn {
    text-decoration: none;
    display: inline-block;
    border: 2px solid transparent;
    transition: 0.5s;
    color: #fff;
    background-color: rgba(0,0,0,0);
}

.line-btn:hover {
    border: 2px solid #fff;
}

.line-btn::before {
    content: '';
    position: absolute;
    inset: 0 8px;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    transition: 1s;
}
