body {
    background-image: url(../img/bg4.png);
    background-size: cover;
    /* fixed对于磨砂玻璃很重要 */
    background-attachment: fixed;
    background-position: center center;
}

#first-page {
    height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    background: inherit;
}

#page-title {
    color: rgb(255, 221, 0);
    font-size: 50px;
}

.main-con {
    /* border: 3px solid black; */
    width: 80vw;
    height: 800px;
    margin-left: 10vw;
    border-radius: 15px;
}

.main-page {
    /* 这个目的是为了磨砂玻璃效果，能一直继承到body的背景图 */
    background: inherit;
}

.bg-glass {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    position: relative;
    background: inherit;
}

.bg-glass:after {
    content: "";
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
}

/* 让玻璃板上面的文字不被覆盖 */
.show {
    /* z-index如果想要起作用的话，那么定位一定要设为absolute */
    position: absolute;
    z-index: 3;
}
.context {
    padding: 30px;
}

/* 小标题 */
.context h2 {
    color: rgb(24, 159, 212);
    font-size: 40px;
    margin-bottom: 10px;
    cursor: default;
}

.context p {
    margin-bottom: 10px;
    font-size: 20px;
}

/* 引用模块样式 */
blockquote {
    width: 70vw;
    border-left: 5px solid rgb(73,175,238);
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: rgb(51, 51, 51);
}
/* 像素点的大盒子 */
#two-box {
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
}

#two-box p{
    margin-left: 100px;
    margin-top: 120px;
    color: black;
    font-size: 25px;
    cursor: default;
}
#already-color {
    width: 400px;
    height: 200px;
    /* border: 1px solid rgb(123, 123, 123); */
    /* margin-top: 150px; */
    margin-left: 100px;
    display: flex;
}
.dot {
    width: 10px;
    height: 10px;
}
.dot:hover {
    transform: scale(1.5);
    transition-duration: 1s;
}

#color-box {
    /* border: 2px solid black; */
    width: 500px;
    height: 500px;
    background-color: white;
    background-size: cover;
    position: relative;
    margin-bottom: 10px;
}

.pixel {
    position: absolute;
    width: 10px;
    height: 10px;
    margin-left: 245px;
    margin-top: 245px;
    background-color: black;
    animation: jump-up infinite 5s;
}

.pixel:hover {
    animation: jump-up infinite 2s ease;
}
@keyframes jump-up {
    0%   {top:0px;}
	50%  {top:-196px}
	100% {top:0px;}
}

.context .button {
    border: 1px solid orange;
    background-color: rgba(0,0,0,0);
    border-radius: 10px;
    width: 100px;
    height: 30px;
}

#color-text {
    border-radius: 5px;
    border: 0;
}

#dot-message {
    opacity: 0;
    z-index: 10;
    /* position: absolute; */
    width: 300px;
    height: 25vh;
    margin-top: 73vh;
    margin-left: 10px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .8);
    position: fixed;
    background: url("../img/bg3.png");
    background-size: cover;
    border: 3px solid rgba(13, 181, 5, 0.908);
    border-radius: 20px;
}

#dot-message:after {
    content: "";
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* box-shadow: inset 0 0 2000px rgba(255,255,255, 0.2); */
    filter: blur(3px);
}