body {
    background-image: url(../img/bg4.png);
    background-size: cover;
    /* fixed对于磨砂玻璃很重要 */
    background-attachment: fixed;
    background-position: center center;
}

#first-page {
    height: 100vh;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    background: inherit;
}

#page-title {
    color: rgb(0, 0, 0);
    font-size: 50px;
}

.main-con {
    /* border: 3px solid black; */
    width: 80vw;
    height: 1200px;
    /* height: auto; */
    overflow: hidden;
    margin-left: 10vw;
    border-radius: 15px;

}

.main-page {
    /* 这个目的是为了磨砂玻璃效果，能一直继承到body的背景图 */
    background: inherit;
}

.bg-glass {
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    position: relative;
    background: inherit;
}

.bg-glass:after {
    content: "";
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
}

/* 让玻璃板上面的文字不被覆盖 */
.show {
    /* z-index如果想要起作用的话，那么定位一定要设为absolute */
    position: absolute;
    z-index: 3;
}

.context {
    padding: 30px;
}

/* 小标题 */
#pixel-name {
    color: rgb(24, 159, 212);
    font-size: 40px;
    margin-bottom: 10px;
    cursor: default;
}
/* 认养人 */
.context p {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
}

/* 引用模块样式 */
blockquote {
    /* border:3px solid green; */
    width: 85%;
    border-left: 5px solid rgb(73, 175, 238);
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: rgb(51, 51, 51);
}

/* 像素点的大盒子 */
#two-box {
    width: 100%;
    margin-left: -30px;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#alread-box{
    width: 300px;
}
/* 已被领养的文字 */
#two-box p {
    color: black;
    font-size: 25px;
    cursor: default;
}

/* 已被领养的颜色的框 */
#already-color {
    width: 300px;
    height: 200px;
    /* border: 1px solid rgb(123, 123, 123); */
    display: flex;
    flex-wrap: wrap;
}

.dot {
    width: 20px;
    height: 20px;
}

.dot:hover {
    transform: scale(1.5);
    transition-duration: 1s;
}

/* 左侧白板 */
#color-box {
    /* border: 2px solid black; */
    width: 300px;
    height: 300px;
    background-color: white;
    background-size: cover;
    position: relative;
    margin-bottom: 10px;
}

/* 左侧单个像素点 */
.pixel {
    position: absolute;
    width: 10px;
    height: 10px;
    margin-left: 145px;
    margin-top: 145px;
    background-color: black;
    animation: jump-up 5s 3;
    /* animation-iteration-count: 3; */
}

@keyframes jump-up {
    0% {
        top: 0px;
    }

    50% {
        top: -98px
    }

    100% {
        top: 0px;
    }
}

/* 操作框 */
#operate_1 {
    display: flex;
    /* border: 3px solid black; */
    flex-wrap: wrap;
    justify-content: flex-start;
}
/* 选择按钮等 */
.context .button {
    border: 2px solid orange;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
    width: 100px;
    height: 30px;
}

.context .button:hover {
    background-color: orange;
    color: rgb(255, 255, 255);
    transition-duration: 0.5s;
}

.context .button:focus {
    outline: none;
}
/* 选择按钮左侧编号显示框 */
#color-text {
    border-radius: 3px;
    border: 0;
    height: 20px;
}

/* 左下角信息卡片 */
#dot-message {
    opacity: 0;
    z-index: 10;
    /* position: absolute; */
    width: 300px;
    height: 20vh;
    margin-top: 78vh;
    margin-left: -1000px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .8);
    position: fixed;
    background: url("../img/bg3.png");
    background-size: cover;
    border: 3px solid rgba(13, 181, 5, 0.908);
    border-radius: 20px;
}

#dot-message:after {
    content: "";
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* box-shadow: inset 0 0 2000px rgba(255,255,255, 0.2); */
    filter: blur(3px);
}

/* 像素点使用介绍文字 */
.introduce {
    width: 90%;
    /* border:3px solid black; */
    font-weight: 500;
}
.introduce h2 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 20px;
    color: rgb(13, 19, 190);
}
.introduce p {
    font-size: 20px;
    /* line-height: 15px; */
    color: rgb(30, 30, 30);
}

/* 移动端样式 */
@media screen and (max-width:768px){
    .main-con {
        height: 1800px;
    }
}