body {
    background-image: url(../img/bg4.png);
    background-size: cover;
    /* fixed对于磨砂玻璃很重要 */
    background-attachment: fixed;
    background-position: center center;
}

.main {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 20vh;
    background-color: rgba(255, 255, 255, 0.869);
    border-radius: 20px;
    /* height: 100vh; */
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.daily-task {
    /* border-radius: 20px; */
    width: 80%;
    margin-left: 10%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.685);
}

.daily-task th {
    background-color: rgb(255, 193, 5);
    color: aliceblue;
    height: 50px;
    font-size: 35px;
}

.daily-task tr {
    background-color: rgba(255, 255, 255);
}

tr:nth-child(odd) {
    background-color: rgb(248, 236, 140);
}

.daily-task tr {
    height: 40px;
}

.daily-task tr:hover {
    opacity: 0.8;
}

.daily-task .td-title {
    padding-left: 10px;
}

#height-50px {
    height: 50px;
    width: 100%;
}