#main-page {
    margin-top: 20vh;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; */
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 300px;
}

.sector-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

h1{
    color: aqua;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 100px;
}
.sector {
    /* margin-top: 50vh; */
    width: 80vw;
    padding: 30px;
}