html{
    scroll-behavior: smooth;
    background: url("../img/bg1.jpeg");
    background-repeat:no-repeat ;
    background-size:100% 100%;
    background-attachment: fixed;
}
:root{
    --delay-time:0.8s;
}
/* 主体部分 */
.main-page{
    margin-top: 0;
    padding-top: 5vh;
    background-color: rgba(255, 255, 255,0.8);
    padding-left: 20vw;
    padding-right: 20vw;
    display: flex;
    flex-direction: column;
}
.title-img{
    width: 100%;
    height: 50vh;
    background: url("../img/bg2.jpg");
    background-size:100% auto contain;
    background-repeat:no-repeat ;
    background-position: 0 -60vh;
}


/* 电梯导航 */
.mycontent{
    height:300px;
    width: 300px;
    position:fixed;
    margin-top: 130px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    opacity: 0;
}
.mycontent li{
    list-style: none;
    position: relative;
    margin-top: 3px;
}
.mycontent li a{
    position: relative;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 30px;
    line-height: 1em;
    /* 空心 */
    color: transparent;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}
.mycontent li a::before{
    content: attr(data-text);
    position: absolute;
    color:var(--clr);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 8px solid var(--clr);
}
.mycontent li a:hover::before{
    width: 100%;
    -webkit-text-stroke: 1px var(--clr);
    /* height: 100%; */
    filter: drop-shadow(0 0 25px var(--clr));
}

/* 正文字体样式 */
.main-text h1{
    color:rgb(0, 0, 0);
    margin-top: 50px;
    font-size: 30px;
    cursor: default;
}
.main-text h1::after{
    content: " #";
    opacity: 0;
    font-size: 24px;
}
.main-text h1:hover::after{
    opacity: 1;
    color: rgb(255, 0, 0);
    transition-duration: var(--delay-time);
}
.main-text h2 {
    color:rgb(70, 70, 70);
    margin-top: 20px;
    font-size: 26px;
    cursor: default;
}
.main-text h2::after{
    content: " ##";
    opacity: 0;
    font-size: 20px;
}
.main-text h2:hover::after{
    opacity: 1;
    color: rgb(21, 111, 236);
    transition-duration: var(--delay-time);
}
.main-text h3 {
    color:rgb(47, 106, 242);
    margin-top: 20px;
    font-size: 22px;
    cursor: default;
}
.main-text h3::after{
    content: " ###";
    opacity: 0;
    font-size: 16px;
}
.main-text h3:hover::after{
    opacity: 1;
    color: rgb(225, 255, 0);
    transition-duration: var(--delay-time);
}
.main-text p{
    font-size: 20px;
    color: rgb(79, 69, 69);
    letter-spacing: 1px;
    line-height: 30px;
    margin-top: 20px;
}
/* 本页面响应式 */
@media screen and (max-width:1300px){
    .mycontent{
        display: none;
    }
    .tree{
        display: none;
    }
    nav{
        /* 让移动端自动显示顶栏 */
        opacity: 1;
    }
}