body {
    background-image: url(../img/bg4.png);
    background-size: cover;
    /* fixed对于磨砂玻璃很重要 */
    background-attachment: fixed;
    background-position: center center;
}

.main {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 20vh;
    background-color: rgba(255, 255, 255, 0.869);
    border-radius: 20px;
    /* height: 100vh; */
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}
/* 表格基本属性 */
.book-table {
    /* border-radius: 20px; */
    width: 80%;
    margin-left: 10%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.685);
}

.book-table th {
    color: rgb(255, 255, 255);
    height: 50px;
    font-size: 35px;
}

.book-table tr {
    background-color: rgba(57,60,67);
    color: rgb(199, 197, 197);
    height: 40px;
}
/* 科目标题 */
.math {
    background-color: rgb(26, 222, 26);
}
.computer {
    background-color: rgb(8, 65, 0);
}
.politics {
    background-color: rgb(251, 188, 70);
}
.english {
    background-color: rgb(48, 183, 232);
}

/* 表格大小限制 */
.book-table .td-title {
    padding-left: 10px;
    width: 25%;
}
.td-phase {
    width: 10%;
}

/* 书本类型 */
.question {
    color: rgb(222,222,228);
}

.book {
    color:rgb(255, 193, 5);
}

.my-video{
    color: rgb(199,189,246);
}
/* 阶段类型 */
.primary {
    color: rgb(54, 223, 54);
}

.senior {
    color: rgb(52, 137, 228);
}

.final {
    color: red;
}


.book-table tr:hover {
    opacity: 0.8;
}


#height-50px {
    height: 50px;
    width: 100%;
}

/* tr:nth-child(odd) {
    background-color: rgb(57,60,67);
    color: rgb(222,222,228);
} */