@import url("http://fonts.googleapis.com/css?family=Jura:200,300,400,500,600,700,800,900");
html{
    scroll-behavior: smooth;
    background: url("../img/bg1.jpeg");
    background-repeat:no-repeat ;
    background-size:100% 100%;
    background-attachment: fixed;
}
:root{
    --delay-time:0.8s;
}
/* 主体部分 */
.main-page{
    font-family: 'Jura';
    margin-top: 0;
    /* padding-top: 5vh; */
    background-color: rgba(255, 255, 255,0.8);
    padding-left: 20vw;
    padding-right: 20vw;
    display: flex;
    flex-direction: column;
}
.title-img{
    width: 100%;
    height: 50vh;
    background: url("../img/bg2.jpg");
    background-size:100% auto contain;
    background-repeat:no-repeat ;
    background-position: 0 -60vh;
}

/* 正文字体样式 */
.diary h1{
    color:rgb(0, 0, 0);
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 50px;
    cursor: default;
}
.diary h1::after{
    content: " 2023年3月的学习记录(*^▽^*)";
    opacity: 0;
    /* color: rgb(49, 49, 49); */
    font-size: 30px;
}
.diary h1:hover::after{
    opacity: 1;
    color: rgb(77, 77, 77);
    transition-duration: var(--delay-time);
}
.diary h2{
    color:rgb(0, 0, 255);
    /* margin-top: 10px; */
    margin-bottom: 10px;
    font-size: 30px;
    cursor: default;
    -webkit-text-stroke: 1px white;
    /* font-weight: 3000; */
}
.diary h2::after{
    content: "   今天的收获！";
    opacity: 0;
    color: rgba(64, 64, 64, 0.3);
    -webkit-text-stroke: 0px;
    font-size: 18px;
}
.diary h2:hover::after{
    opacity: 1;
    color: rgba(70, 70, 70, 0.3);
    transition-duration: var(--delay-time);
}
.diary .subject{
    color:rgb(34, 124, 227);
    margin-top: 3px;
    margin-right: 10px;
    font-size: 18px;
    cursor: default;
    display: inline-block;
    width: 100px;
    /* -webkit-text-stroke: 1px white; */
}
.day {
    border: 3px dashed orange;
    padding: 30px;
    padding-bottom: 40px;
    border-radius: 25px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255,0.5);
}
.day table td{
    vertical-align: top;
}

/* 本页面响应式 */
@media screen and (max-width:1300px){
    .mycontent{
        display: none;
    }
    .tree{
        display: none;
    }
    nav{
        /* 让移动端自动显示顶栏 */
        opacity: 1;
    }
}