* {
  padding: 0;
  margin: 0;
}
:root {
  --typeSpeed:4s;
  --strLength:12;
  --bg-color:rgb(16,21,29);
  --font-color:azure;
}
body{
  height: 100%;
}

/* 按钮盒子 */
#button_div{
  margin-left: 10vw;
  margin-top: 5vh;
  display: flex;
  margin-right: 10vw;
}
/* 按钮 */
.btn {
  margin: 10px;
  height: 50px;
  width:200px;
  font-size: 18px;
  border-radius: 8px;
  color: #5f91ff;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #5f91ff;
  display: inline-block;
  padding: 3px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  margin-top: 20px;
}
.btn:hover {
  background-color: #5f91ff;
  color: rgb(255, 255, 255);
}