* {
  padding: 0;
  margin: 0;
}
:root {
  --typeSpeed:4s;
  --strLength:12;
  --bg-color:rgb(16,21,29);
  --font-color:azure;
}
body{
  height: 100%;
}

/* 按钮盒子 */
#button_div{
  margin-left: 10vw;
  margin-top: 5vh;
  display: flex;
  margin-right: 10vw;
}
/* 按钮 */
.btn {
  margin: 10px;
  height: 50px;
  width:200px;
  font-size: 18px;
  border-radius: 8px;
  color: #5f91ff;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #5f91ff;
  display: inline-block;
  padding: 3px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  margin-top: 20px;
}
.btn:hover {
  background-color: #5f91ff;
  color: rgb(255, 255, 255);
}

/* 打字机效果 */
.printer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:30px;
}
.heading{
  /* top: 20px; */
  display:flex;
  color: aliceblue;
  font-family: monospace;
  font-size: 60px;
}
h1 {
  position: relative;
}
h1:before,h1:after {
  content: '';
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
}
h1:before{
  background: rgb(15,19,28);
  /* steps是分为多少段显示，infinite是循环显示，forwards是单次显示 */
  animation: typing var(--typeSpeed) steps(var(--strLength)) 1s forwards;
}
h1:after {
  /* 光标宽度 */
  width: 5px;
  /* 光标颜色与字体一致 */
  background-color: var(--font-color);
  animation: typing var(--typeSpeed) steps(var(--strLength)) 1s forwards,
  blink 500ms steps(var(--strLength)) infinite;
}
@keyframes typing {
  to {
      left:100%
  }
}
@keyframes blink {
  from,to{
      background-color: transparent;
  }
  50% {
      background: #fff;
  }
}