body {
    /* background-image: url(../img/bg5.jpg); */
    background-image: linear-gradient(135deg, #FFF6B7 10%, #F6416C 100%);
    background-size: cover;
    /* fixed对于磨砂玻璃很重要 */
    background-attachment: fixed;
    background-position: center center;
}

.main {
    margin-top: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: white;
    height: 55vh;
    padding: 20px;
    border-radius: 15px;
    overflow: scroll;
}

.search {
    margin-top: 20vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

#text-search {
    width: 75%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(122, 122, 122);
    padding-left: 5px;
}

#btn-search,
#btn-question {
    height: 30px;
    width: 10%;
    border-radius: 10px;
    background-color: rgb(201, 158, 241);
    border: 1px solid snow;
}

table {
    width: 100%;
}

.footer {
    margin-top: -120px !important;
}

.footer p {
    color: rgb(255, 255, 255) !important;
}

.operator {
    display: flex;
    /* border: 1px solid red; */
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 30px;
    justify-content: space-between;
}